* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER STYLE */

header {
    padding: 1% 0 7% 0;
    background-size: cover;
}

/* topbar */
#topbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* toplogo */
#top-logo {
    width: 25%;
}

/* nav */
nav {
    width: 50%;
}

#nav-link {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#nav-link a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* login */
#top-login {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top-login a {
    flex-shrink: 0; 
    padding: 5px 8px;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
}

/* jumbobar */

#jumbo-section {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 8%;
    color: white;
}

#jumbo-section h1 {
    padding-bottom: 3%;
}

#jumbo-section p {
    padding-bottom: 3%;
    font-size: 18px;
    font-weight: 300;
}

#jumbutton {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5%;
}

#jumbutton button {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}

#jumbutton .second {
    background-color: rgb(36, 39, 42);
    color: white;
}

/* MAIN STYLE */

/* section main style */

section {
    padding: 4% 0;
}

.whiteback {
    background-color: white;
}

.grayback {
    background-color: rgb(246, 246, 246);
}

.row {
    width: 80%;
    margin: auto;
    display: flex;
}

.even {
    flex-direction: row-reverse;
}

.text {
    display: flex;
    align-items: center;
}

.text-container {
    width: 70%;

}

/* section details style */

.text-container h3{
    font-size: 40px;
    padding-bottom: 8%;
}

.text-container p {
    font-size: 16px;
    line-height: 22px;
}

